<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CustomerID" value="1000,2000"/>
    <add key="BOLWaitTimeDetails" value="4053"/>
    <add key="Interval" value="1"/>
    <add key="ShipmentRetryCount" value="10"/>
    <add key="DeliveryRetryCount" value="20"/>
    <add key="AutoLogOutInterval"  value="3"/>
    <add key="LogOutAfterMinutes"  value="963"/>
    <add key="SetStateInterval"  value="10" />
    <add key="CalcualateStatusInterval"  value="30" />

    <add key="EMAILSERVER"  value="smtp.firestreamww.com" />
    <add key="EMAILNAME"  value="fswwcloud@firestreamww.com" />
    <add key="EMAILPASSWORD"  value="F$ww47485" />
    
  </appSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICustomerService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54838/Customer.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICustomerService" contract="Customer.ICustomerService"
                name="WSHttpBinding_ICustomerService" />
        </client>
    </system.serviceModel>
  <connectionStrings>
    <add name="DeliveryStreamCloud"
        connectionString="Data Source=FSWWIN-PC185\SQL2016;Initial Catalog=DeliveryStream;Persist Security Info=True;User ID=SA;Password=fsww.123"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="DeliveryStreamCloud"
        connectionString="Data Source=192.168.2.66\sql2008;Initial Catalog=DeliveryStream2805;Persist Security Info=True;User ID=SA;Password=fsww"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>