<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <!--<connectionStrings>
        <add name="DeliveryStreamCloudWinServ.DataAccess.Properties.Settings.AScendCloud04ConnectionString"
            connectionString="Data Source=192.168.2.66\sql2008;Initial Catalog=DeliveryStream2805;Persist Security Info=True;User ID=sa;Password=fsww"
            providerName="System.Data.SqlClient" />
        <add name="DeliveryStreamCloudWinServ.DataAccess.Properties.Settings.AScendCloud03_RPTConnectionString"
            connectionString="Data Source=192.168.2.66\sql2008;Initial Catalog=DeliveryStream2805;User ID=sa;Password=fsww"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
  <connectionStrings>
    <add name="DeliveryStreamCloudWinServ.DataAccess.Properties.Settings.AScendCloud04ConnectionString"
      connectionString="Data Source=FSWWIN-PC046;Initial Catalog=DeliveryStream;Persist Security Info=True;User ID=sa;Password=FSWW123!"
      providerName="System.Data.SqlClient" />
    <add name="DeliveryStreamCloudWinServ.DataAccess.Properties.Settings.AScendCloud03_RPTConnectionString"
      connectionString="Data Source=FSWWIN-PC046;Initial Catalog=DeliveryStream;User ID=sa;Password=FSWW123!"
      providerName="System.Data.SqlClient" />
    <add name="DeliveryStreamCloudWinServ.DataAccess.Properties.Settings.DeliveryStreamConnectionString"
      connectionString="Data Source=FSWWIN-PC185\SQL2016;Initial Catalog=DeliveryStream;User ID=sa;Password=fsww.123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>